body{
		margin:0;
		padding:0;
		font-family: sans-serif;
		background: url("back.jpg") no-repeat;
		background-size: cover;
}
.box{
	width: 300px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background:rgba(48, 45, 45, 0.37);
	text-align:center;
}
.box h1
{
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		font-weight: 700;
}
.box input[type="text"], .box input[type="password"]{
border: 0;
background: none;
display: block ;
margin: 20px auto;
text-align: center;
border: 3px solid rgb(79, 152, 211);
padding: 14px 20px;
width: 220px;
outline:none;
color:rgb(22, 21, 21);
border-radius: 24px;
transition:0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
width: 270px;
border-color:rgba(231, 223, 223, 0.719);	
}

.box input[type="submit"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 3px solid rgb(79, 152, 211) ;
padding: 14px 30px;
outline:none;
color: rgba(48, 45, 45, 0.719);
border-radius: 24px; 
transition: 0.25px;
cursor: pointer;
}

.box input[type="submit"]:hover{
	background: #108fb677
}